<script>
  import Signup from "../../components/auth/Signup.svelte";
</script>

<div
  class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4
    sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <Signup />
  </div>
</div>
<svelte:head>
  <title>RedisChat | Signup</title>
</svelte:head>