<script context="module">
  export async function preload(page, session) {
    const { username } = session;
    if (!username) {
      return this.redirect(302, "login");
    }
    return this.redirect(302, `messages/${username}`);
  }
</script>

<script>
  export let username;
</script>

<svelte:head>
  <title>RedisChat | {username}</title>
</svelte:head>
