<script>
  import { goto, stores } from "@sapper/app";
  const { session } = stores();
  let showLoginError;
  let loginErrorMessage = "";
  let username, password;
  const loginUser = async (event) => {
    let formData = new FormData();
    formData.append("username", username);
    formData.append("password", password);
    const login = await fetch("/api/login", {
      method: "POST",
      headers: {
        Accept: "application/json",
      },
      body: formData,
    });
    if (login.ok) {
      $session.username = username;
      showLoginError = false;
      await goto(`/messages/${username}`);
    } else {
      let _response = await login.json();
      showLoginError = true;
      loginErrorMessage = _response.message;
    }
  };
  $: loginErrorMessage = loginErrorMessage;
  $: username = username;
  $: password = password;
</script>

<div>
  <img
    class="mx-auto h-12 w-auto"
    src="img/ic_chat.png"
    alt="RedisChat Logo" />
  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
    Sign in to your account
  </h2>
  {#if showLoginError}
    <p id="errorMsg" class="mt-2 text-center text-sm leading-5 text-red-500">
      {loginErrorMessage}
    </p>
  {/if}
</div>

<form
  name="userLoginForm"
  autocomplete="off"
  novalidate="application/x-www-form-urlencoded"
  on:submit|preventDefault={loginUser}
  class="mt-8">
  <input type="hidden" name="remember" value="true" />
  <div class="rounded-md shadow-sm">
    <div>
      <input
        aria-label="username"
        id="username"
        name="username"
        type="text"
        required
        bind:value={username}
        class="appearance-none rounded-none relative block w-full px-3 py-2
          border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md
          focus:outline-none focus:shadow-outline-blue focus:border-blue-300
          focus:z-10 sm:text-sm sm:leading-5"
        placeholder="Username" />
    </div>
    <div class="-mt-px">
      <input
        aria-label="Password"
        name="password"
        type="password"
        id="password"
        bind:value={password}
        required
        class="appearance-none rounded-none relative block w-full px-3 py-2
          border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md
          focus:outline-none focus:shadow-outline-blue focus:border-blue-300
          focus:z-10 sm:text-sm sm:leading-5"
        placeholder="Password" />
    </div>
  </div>

  <div class="mt-6">
    <button
      disabled={!(username && password)}
      type="submit"
      id="submit"
      class="group relative w-full flex justify-center py-2 px-4 border
        border-transparent text-sm leading-5 font-medium rounded-md text-white
        bg-indigo-600 hover:bg-indigo-500 focus:outline-none
        focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700
        transition duration-150 ease-in-out">
      <span class="absolute left-0 inset-y-0 flex items-center pl-3">
        <svg
          class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition
            ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
            clip-rule="evenodd" />
        </svg>
      </span> Sign in
    </button>
  </div>
</form>
