<script>
  // import SignupModal from "./SignupModal.svelte";
  let signupFeedBackMessage = "";
  let username, password, email;
  let showModal = false;
  const signUpUser = async (event) => {
    let formData = new FormData();
    formData.append("username", username);
    formData.append("password", password);
    formData.append("email", email);
    const signup = await fetch("/api/signup", {
      method: "POST",
      headers: {
        Accept: "application/json",
      },
      body: formData,
    });
    if (signup.ok) {
      showModal = true;
      let _response = await signup.json();
      signupFeedBackMessage = _response.message;
      username = "";
      email = "";
      password = "";
    } else {
      let _response = await signup.json();
      signupFeedBackMessage = _response.message;
    }
  };
  $: signupFeedBackMessage = signupFeedBackMessage;
  $: username = username;
  $: password = password;
  $: email = email;
</script>
<!-- {#if showModal}
  <SignupModal />
{/if} -->

<div>
  <img
    class="mx-auto h-12 w-auto"
    src="img/ic_chat.png"
    alt="RedisChat Logo" />
  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
    Sign up for an account
  </h2>
    <p class="mt-2 text-center text-sm leading-5 text-red-500">
      {signupFeedBackMessage}
    </p>
</div>

<form
  name="userLoginForm"
  autocomplete="off"
  novalidate="application/x-www-form-urlencoded"
  on:submit|preventDefault={signUpUser}
  class="mt-8">
  <input type="hidden" name="remember" value="true" />
  <div class="rounded-md shadow-sm">
    <div class="-mt-px">
      <input
        aria-label="username"
        id="username"
        name="username"
        type="text"
        required
        bind:value={username}
        class="appearance-none rounded-none relative block w-full px-3 py-2
          border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md
          focus:outline-none focus:shadow-outline-blue focus:border-blue-300
          focus:z-10 sm:text-sm sm:leading-5"
        placeholder="Username" />
    </div>
    <div class="-mt-px">
      <input
        aria-label="email"
        id="email"
        name="email"
        type="email"
        required
        bind:value={email}
        class="appearance-none rounded-none relative block w-full px-3 py-2
          border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md
          focus:outline-none focus:shadow-outline-blue focus:border-blue-300
          focus:z-10 sm:text-sm sm:leading-5"
        placeholder="Email Address" />
    </div>
    <div class="-mt-px">
      <input
        aria-label="Password"
        name="password"
        type="password"
        id="password"
        bind:value={password}
        required
        class="appearance-none rounded-none relative block w-full px-3 py-2
          border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md
          focus:outline-none focus:shadow-outline-blue focus:border-blue-300
          focus:z-10 sm:text-sm sm:leading-5"
        placeholder="Password" />
    </div>
  </div>

  <div class="mt-6">
    <button
      disabled={!(username && password && email)}
      type="submit"
      class="group relative w-full flex justify-center py-2 px-4 border
        border-transparent text-sm leading-5 font-medium rounded-md text-white
        bg-indigo-600 hover:bg-indigo-500 focus:outline-none
        focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700
        transition duration-150 ease-in-out">
      <span class="absolute left-0 inset-y-0 flex items-center pl-3">
        <svg
          class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition
            ease-in-out duration-150"
          fill="currentColor"
          viewBox="0 0 20 20">
          <path
            fill-rule="evenodd"
            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
            clip-rule="evenodd" />
        </svg>
      </span> Sign up
    </button>
  </div>
</form>
